* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

#banner {
  border: 1px solid black;
  height: 300px;
  margin: auto;
  width: 98%;
}

#previousButton, #nextButton {
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  font-size: 50px;
  font-weight: 800;
  line-height: 300px;
}

#previousButton {
  float: left;
}

#nextButton {
  float: right;
}

img {
  height: 100px;
}